@import "../node_modules/bootstrap/scss/bootstrap";
@import "variables";

.bgAmarillo {
    background-color: $colorPrimario;
}

.bgAmarilloOscuro {
    background-color: $colorTerciario;
}

.titulo2 {
    color: $colorPrimario;
    background-color: $colorMascara;
}
.mascara1 {
    background-color: $colorMascara;
    .margen1 {
        height: 35vh;
        padding-top: 2rem;
    }
}

.cuadro1 {
    color: $colorPrimario;
    border: 1px solid $colorPrimario;
    border-radius: 5px;
    text-align: center;
}

.bgRojo {
    background-color: $colorSecundario;
}

.textoAmarillo {
    color: $colorPrimario;
}

.tamañoIcono {
    width: 1em;
    height: 1em;
}

.headerPages__bg {
    background-image: url('../images/ferraribackground1.jpg');
    height: 35vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tarjeta1 {
    max-width: 24rem;
    background-color:$colorSecundario;
}

.card:hover {
    transform: scale(1.1);
}

.card {
    transition: transform 0.5s;
}